@font-face {
    font-family: DM Sans;
    src: 
        local("DM Sans"),
        url(/fonts/DMSans-Regular.woff2) format("woff2"),
        url(/fonts/DMSans-Regular.woff) format("woff"),
        url(/fonts/DMSans-Regular.eot) format("eot");
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: DM Sans;
    src: 
        local("DM Sans"),
        url(/fonts/DMSans-Bold.woff2) format("woff2"),
        url(/fonts/DMSans-Bold.woff) format("woff"),
        url(/fonts/DMSans-Bold.eot) format("eot");
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

